.container{
	position: relative;	
}
#main_heading{
	text-align: center;
}
#triangle-top {
   	width: 0;
	height: 0;
	border-bottom: 201px solid  #162b57;
	border-left: 155px solid transparent;
	border-right: 173px solid transparent;
	margin-left: 36%;
	position: absolute;
	z-index: 1;
}

#triangle-topleft { 
	width: 0;
	height: 0;
	border-top: 245px solid  #162b57;
	border-right: 282px solid transparent;
	margin-left: 14%;
	position: absolute;
	z-index: 2;
	margin-top: 20%;
	-ms-transform: rotate(-13deg);
	-webkit-transform: rotate(-13deg);
	transform: rotate(-13deg);
}
#triangle-topright { 
	width: 0;
	height: 0;
	border-top: 259px solid  #162b57;
	border-left: 295px solid transparent;
	position: absolute;
	z-index: 3;
	margin-left: 62%;
	margin-top: 20%;
	-ms-transform: rotate(16deg);
	-webkit-transform: rotate(16deg);
	transform: rotate(16deg);
} 
#triangle-bottomleft { 
	width: 0;
	height: 0;
	border-bottom: 299px solid  #162b57;
	border-right: 346px solid transparent;
	position: absolute;
	z-index: 4;
	margin-top: 44%;
	margin-left: 18%;
	-ms-transform: rotate(-7deg);
	-webkit-transform: rotate(-7deg);
	transform: rotate(-7deg);
} 
#triangle-bottomright { 
	width: 0;
	height: 0;
	border-bottom: 303px solid  #162b57;
	border-left: 334px solid transparent;
	position: absolute;
	z-index: 5;
	margin-left: 53%;
	margin-top: 44%;
	-ms-transform: rotate(9deg);
	-webkit-transform: rotate(9deg);
	transform: rotate(9deg);
}

#pentagon { 
	position: relative; 
	width: 414px;
	border-width: 212px 65px 0;
	border-style: solid;
	border-color: grey transparent;
	-ms-transform: rotate(9deg);
	-webkit-transform: rotate(9deg);
	transform: rotate(-180deg);
	margin-left: 33%;
	margin-top: 27%;
	z-index: 1;
} 
#pentagon:before { 
	content: "";
	position: absolute;
	height: 0;
	width: 0;
	top: -395px;
	left: -62px;
	border-width: 0 207px 186px;
	border-style: solid;
	border-color: transparent transparent grey;
	-ms-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}
#who_content{
	position: absolute;
	z-index: 4;
	max-width: 16%;
	top: 21%;
	left: 43%;
	color: white;
	max-height: 196px;
	overflow: auto;
}