body{
    margin: 0 !important;
}

#annolet-container{
    background-color: #ffaf0d !important;
    bottom: 0 !important;
    border-radius: 31px 31px 0px 0px !important;
    z-index: 999999999999999999999999;
    position: fixed !important;
    box-shadow: -1px 7px 18px 15px !important;
    height: 13%;
    margin-left:30%;
}

#annolet-header{
    text-align:center !important;
    color: #000 !important;
    font-weight: bold !important;
    font-family: monospace !important;
    font-size: 213%;
}

#annolet-tools-menu{
    list-style-type: none !important;
    margin: 0;
    padding: 0;
    text-align: center !important;
    font-family: monospace !important; 
    font-weight: bold !important;
    font-size: 139% !important;    
    white-space: nowrap !important;
}

.menu-list{
    display: inline-block !important;
    padding: 0px 22px !important;
}

.drop_down{
    background-color: #fff !important;
    color: black !important;
    text-align: center !important;
}

#tag-btn, #graphical-view {
    background: rgb(143, 136, 123);
    color: black;
}



